.Expense-text{
    color: #61dafb;
}

button{
    flex: 1 0 45%;
    width: 200px;
    height: 80px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin: 0.4rem;
    outline: none;
    background: #FF5733;
    user-select: none;
    font-weight: 700;
    font-size: 1000;
}