.App {
  text-align: center;
  background-color: rgb(255, 230, 180); 

}

.App-header {
  background-color: rgb(128, 89, 68);
  padding: 60px 0px 0px;  

}


.sleepingcat
{
  position: relative; 
  top: -149px; 
  padding: 0;
  left: 750px;  
  height :70px; 
  width: 150px;
  float: left;
  transform: scale(1); 
}
.NavButton{
  margin-left: 50%;  
  transform: translate(-50%, -50%); 
}

